header {
    background-color:#1f2937;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    padding: 0px 0px 0px 12px;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    font-size: 18px;
}

.logo-and-links {
    display: flex;
    justify-content: space-between;
    margin: 0px 48px;
}

.hero-and-image {
    display: flex;
    margin: 48px 48px;
}

h2 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    overflow-wrap: normal;
    margin: 0px 0px 12px 0px;
}

.hero {
    font-size: 18px;
    color: #E5E7EB;
    flex-basis: 50%;
}

.image {
    width: 50%;
    flex-basis: 50%;
}

.image img {
    max-width: 100%;
    height: auto;
}
button {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    border: none;
    border-radius: 12px;
    padding: 8px 24px;
    font-weight: 700;
}

main {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}

.categories {
    display: flex;
    justify-content: center;
}

.categories img {
    border-radius: 12px;
    border: 4px solid #3882F6;
    width: 200px;
    height: auto;
}

.categories p{
    font-size: 18px;
    margin: 4px 4px;
}

h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.medications,
.labs,
.scans,
.notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    max-width: 250px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 425px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.quote p {
    margin: 0px 0px;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
}

.text .customer {
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-style: normal;
}